link[href='https://fonts.googleapis.com/css?family=Barlow&display=swap' rel="stylesheet"]
=image_tag('logo.png')
.heading And we're glad glad glad that you've arrived
= link_to 'Join', new_account_path, class: ['button', 'center']