.accounts-new {
  font-family: 'Barlow', sans-serif;
  color: #1a2633;
  margin-top: 1em;

  h1 {
    text-align: center;
  }

  label {
    margin-right: 1em;
  }

  input {
    width: 60%;
  }

  li {
    margin: .5em 0 .5em 0;
  }

  textarea {
    height: 100px;
    width: 200%;
  }

  .one-line {
    width: 30%;
    text-align: right;
  }

  .field {
    text-align: center;
    justify-content: center;
  }

  .fields li,
  .field,
  .center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .center-form {
    display: flex;
    justify-content: center;
  }

  .center svg {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
  }

  .bt-drop-in-wrapper {
    max-width: 500px;
    margin: auto;
  }

  [type="submit"] {
    margin-top: 2em;
    font-size: xx-large;
  }
}