.accounts-new,
.accounts-create {
  h1 {
    text-align: center;
  }

  form {
    min-width: 600px;
  }
  .center svg {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
  }

  .center-form {
    display: flex;
    justify-content: center;
  }

  .error {
    white-space: nowrap;
  }
}
