.accounts-new {
  h1 {
    text-align: center;
  }

  .center svg {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
  }

  .center-form {
    display: flex;
    justify-content: center;
  }

}
